<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Soccer | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="images/fav.png">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- font-awesome css -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Main Menu css -->
        <link rel="stylesheet" href="css/rsmenu-main.css">
        <!-- rsmenu transitions css -->
        <link rel="stylesheet" href="css/rsmenu-transitions.css">
        <!-- hover-min css -->
        <link rel="stylesheet" href="css/hover-min.css">
        <!-- magnific-popup css -->
        <link rel="stylesheet" href="css/magnific-popup.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/time-circles.css">
        <!-- Slick css -->
        <link rel="stylesheet" href="css/slick.css">
        <!-- style css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body class="home-two">

        <!--Preloader start here-->
        <div id="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!--Preloader area end here-->
        <!--Header area start here-->
        <header>
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="header-top-left">
                                <ul>
                                    <li><a href="mailto:suporte@wpleague.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> suporte@wpleague.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="social-media-area">
                                <nav>
                                    <ul>
                                        <li><a href="#" class="active"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        @*<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <sup>1</sup></a></li>*@
                                        <li class="log"><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a></li>
                                        <li class="sign"><a href="#"><span>/</span> Cadastre-se</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle-area menu-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12 logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <div class="col-md-10 col-sm-12 col-xs-12 mobile-menu">
                            <div class="main-menu">
                                <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <!-- Home -->
                                        <li class="current-menu-item current_page_item menu-item-has-children">
                                            <a href="#">ProNight</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Inscreva seu time</a></li>
                                                <li><a href="#">Edições Anteriores</a></li>
                                                <li><a href="#">Regulamento</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Home -->
                                        <li><a href="#">Sobre WPL</a></li>
                                        <li><a href="#">Contato</a></li>
                                    </ul>
                                </nav>
                                <!--Header Search Start  here-->
                                <div class="search">
                                    <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i class="fa fa-search"></i></a>
                                </div>
                                <!--Header Search End  here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header area end here-->

        <div>
            @RenderBody()

            <!-- Footer Start -->
            <footer id="footer-section" class="footer-section">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="footer-title">about us</h4>
                                <div class="about-widget">
                                    <p>We create Premium Html Themes for more than three years. Our team goal is to reunite the elegance of unique.</p>
                                    <p class="margin-remove">We create Unique and Easy To Use Flexible Html Themes.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h4 class="footer-title">Useful Links</h4>
                                <ul class="sitemap-widget">
                                    <li class="active"><a href="about.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="point-table.html">Point Table</a></li>
                                    <li><a href="world-cup.html">World Cup</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="copyright">
                                    <p>&copy; 2018 <a href="#" target="_blank">WPL</a>. Todos os direitos reservados.</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="text-right ft-bottom-right">
                                    <div class="footer-bottom-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
        </div>

        <!-- Search Modal Start -->
        <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="fa fa-close"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Procure por Clubes, Jogadores ou Campeonatos" type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start scrollUp  -->
        <div id="return-to-top">
            <span>Top</span>
        </div>
        <!-- End scrollUp  -->

        <!-- all js here -->
        <!-- jquery latest version -->
        <script src="js/jquery.min.js"></script>
        <!-- Menu js -->
        <script src="js/rsmenu-main.js"></script>
        <!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- Slick js -->
        <script src="js/slick.min.js"></script>
        <!-- masonry js -->
        <script src="js/masonry.js"></script>
        <!-- magnific-popup js -->
        <!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/time-circle.js"></script>
        <!-- magnific-popup js -->
        <script src="js/jquery.magnific-popup.js"></script>
        <!-- main js -->
        <script src="js/main.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
