@{
    ViewData["Title"] = "Sobre a WPL";
}

<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs sec-color">
    <img src="~/images/breadcrumbs/about.jpg" alt="Breadcrubs" />
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Sobre a WPL</h1>
                    <ul>
                        <li>
                            <a class="active" href="~/">Home</a>
                        </li>
                        <li>Sobre a WPL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<div class="row sec-spacer" >
    <div class="col-sm-8 col-sm-offset-2">
        <p>
            Lorem ipsum commodo lorem aenean aptent ultrices euismod lorem ipsum, rhoncus volutpat integer commodo rhoncus potenti fusce hac mattis nisi, rhoncus nulla nisl amet id purus non elementum per, quisque habitasse erat risus ut purus id consequat. scelerisque tortor augue urna libero tempor, habitant conubia porta phasellus donec, condimentum platea euismod metus. euismod faucibus curabitur eleifend metus sapien nisl faucibus vivamus, congue dolor tempor venenatis suspendisse ac scelerisque metus, lorem habitasse potenti enim primis cubilia sagittis. orci potenti mi vulputate justo purus curabitur adipiscing, quisque placerat himenaeos integer mattis dictumst nostra, id ultricies metus sodales interdum fermentum conubia, suscipit cubilia condimentum suspendisse tempus id.
        </p>
        <p>
            Justo tristique ante tincidunt odio ultricies, rutrum at cras litora ultrices gravida, rhoncus maecenas libero auctor. aenean sed dictum iaculis auctor interdum dui placerat donec tortor vestibulum, maecenas porttitor duis cubilia donec cubilia ultricies senectus etiam, nullam rhoncus sapien sagittis curabitur placerat auctor pharetra elementum. lobortis semper viverra augue quis mollis bibendum sem viverra hendrerit scelerisque dolor, libero faucibus bibendum sociosqu rutrum odio nunc convallis ut habitant, ullamcorper sociosqu hac porttitor sagittis consequat blandit risus consectetur sit. phasellus accumsan ipsum placerat consequat diam rutrum, fusce suspendisse viverra tincidunt pretium potenti phasellus, ultrices nisl diam placerat etiam.
        </p>
    </div>
</div>
